
    
   
        table {
            width: 100%;
            height: 100vh;
            border-collapse: collapse;
            table-layout: fixed;

        }

        td {

            border: 1px solid black;
            height: 150px;
            padding: 10px;
            vertical-align: middle;
            font-family: Arial; 
            font-size: 16px;
            }

            .primeira-celula {
            background-color: orange; 
            width: 50%;
            height: 50%;
             
            }
            .segunda-celula {
            background-color: red; 
            width: 50%;
            height: 50%;
            }
            @media (max-width: 600px) {
                table, tr, td {
                    display: block;
                    width: 100%;}
                td{height: 50vh; box-sizing: border-box;}
            }
                
        
        html, body {
            margin: 1;
            border: 1;
            padding: 1;
            overflow:hidden;
        }

